.navbarMain {
    position: absolute;
    width: 1440px;
    height: 224px;
    left: 0px;
    top: 0px;

    background: rgba(163, 146, 209, 0.92);
}

// .userInfo {
//     // position: absolute;
//     // width: 152px;
//     // height: 247px;
//     // // left: 1230px;
//     // top: 36px;
//     // // margin: 36px 58px 59px 1230px;
//     &__name{
//         position: absolute;
//         width: 60px;
//         height: 30px;
//         left: 1266px;
//         top: 148px;

//         font-family: Muli;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 24px;
//         line-height: 30px;
//         color: #4A4A4A;
//     }
//     &__pic{
//         border-radius: 50%;
//         width: 75px;
//         height: 75px;

//     }

//     // background: url(image.png);
// }